/* COLORES */
$white: #FFFFFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;

/* FAMILIA FUENTES */
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

/* PESOS FUENTES */
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 900;

/* TAMAÑO FUENTE */
$font-size-xx-large: 70px;
$font-size-x-large: 30px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 12px;