/* ARTICULO */
#mi__contenido p{
    line-height: 3em;
    margin-bottom: 50px;
    font-weight: $font-weight-light;
}
#mi__contenido .fecha{
    opacity: 0.7;
    font-family: $playfair;
    font-weight: $font-weight-regular;
    font-size: $font-size-large;
}

/* PAGINACION */
.mi__paginacion{
    background-color: $platinum;
    border-top: solid 1px $lightgray;

    .page-item:first-child .page-link{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .page-item:last-child .page-link{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .page-item .page-link:hover{
        background-color: $eerieblack !important;
        color: $white !important;
    }
    .page-link{
        color: $eerieblack;
    }
}


/* AUTOR */
.el__autor{
    border-color: $lightgray !important;

    .el__autor-titulo{
        @include playfair__bold;
        font-size: $font-size-x-large;
    }
    .el__autor-link{
        display: block;
        color: $ruddypink;
        font-size: $font-size-large;

        &:hover{
            color: $spanishpink;
        }
    }
    .el__autor-texto{
        line-height: 1.9em !important;
        font-size: $font-size-medium;
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width: 768px){
    .el__autor{
        text-align: center;

        .el__autor-img{
            width: 130px;   
        }
    }
}