#mi__logo img{
    width: 120px;
    height: auto;
}
.mi__nav{
    background-color: $eerieblack !important;
}
nav.navbar{
    a{
        color: $white !important;
    }
    &
    a:hover{
        color: $ruddypink !important;
    }
}
.nav__activo a{
    color: $spanishpink !important; 
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}